:root {
    --mutedwhite: #fbf7ef;
    --greygreen: #dad7cd;
    --lightgreen: #a3b18a;
    --green: #588157;
    --darkgreen: #3a5a40;
    --darkergreen: #344e41;
}

body {
    background-color: var(--mutedwhite);
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    color: var(--darkergreen);
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    color: var(--green);
}

p {
    font-family: "Source Serif 4", serif;
    font-size: 1.25rem;
    color: var(--darkergreen);
}

.nav {
    border-bottom: 1px solid var(--darkgreen);
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.nav .logo {
    font-family: "Source Serif 4", serif;
    font-size: 1rem;
    color: var(--darkergreen);
    padding: 1rem 0rem 1rem 1rem;
    text-decoration: none;
}

.nav .navItems a {
    font-family: "Source Serif 4", serif;
    font-size: 1rem;
    color: var(--darkergreen);
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    display: block;
    width: 4rem; 
}

.nav .navItems a:hover {
    color: var(--mutedwhite);
    background-color: var(--darkergreen);
    transition: 0.2s ease;
}

.nav .navItems .active {
    color: var(--mutedwhite);
    background-color: var(--darkergreen);
}

.firstPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}

.description {
    border-left: 3px solid var(--darkgreen);
}

.description p {
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
    .nav {
        border-bottom: none;
        justify-content: flex-end;
    }
    .nav .navItems {
      display: block;
      width: 8rem;
      margin-top: 1rem;
    }
    .nav .navItems a {
        width: 4rem;
        text-align: right;
    }
    .nav .logo {
        display: none;
    }
    .firstPage {
        margin-top: -8rem;
    }
}